---
import '../styles/global.css';
import Header from '../components/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Reading List</title>
	</head>
	<body>
		<Header style="background-color:powderblue;"/>
		<h1>In Progress</h1>
			<ul style="list-style-type: circle; display: inline-block;">
				<li>Moby Dick</li>
				<li>Slumrat Rising: Starbrite Man</li>
			</ul>
        <h1>To Be Read</h1>
			<ul style="list-style-type: circle; display: inline-block;">
				<li>Fiction
					<ul>
						<li>Feast or Famine</li>
						<li>Godslayers</li>
						<li>Death of a Salesman</li>
						<li>Rosencrantz and Guildenstern are Dead</li>
						<li>Crime and Punishment</li>
						<li>Pale Fire</li>
						<li>Lolita</li>
						<li>The Pale King</li>
						<li>American Psycho</li>
						<li>Don Quixote</li>
						<li>2666</li>
						<li>The Last Samurai</li>
						<li>Lonely Crowds</li>
						<li>Heart of Darkness</li>
						<li>Notes from the Underground</li>
						<li>Umineko</li>
						<li>Worth the Candle</li>
						<li>The Merlin Conspiracy</li>
						<li>The Monkey and the Monk</li>
					</ul>
				</li>
				<li>Non-Fiction
					<ul>
						<li>Propaganda</li>
						<li>Gateless Gate</li>
						<li>We Have Never Been Moderns</li>
						<li>I and Thou</li>
						<li>Totality and Infinity</li>
						<li>Anti-Oedipus</li>
						<li>Voice and Phenomenon</li>
						<li>The End of History</li>
						<li>All Men are Mortal</li>
						<li>Steps to an Ecology of Mind</li>
						<li>Science and Sanity</li>
						<li>The Dreams our Stuff is Made of</li>
						<li>Seeing Like a State</li>
						<li>The Homeless Mind</li>
						<li>Careless People</li>
						<li>Naming and Necessity</li>
						<li>The Republic</li>
						<li>Beyond Concepts</li>
						<li>Semiotics for Beginners</li>
					</ul>
				</li>
			</ul>
        <h1>Read</h1>
			<ul style="list-style-type: circle; display: inline-block;">
				<li>Fiction
					<ul>
						<li>House of Leaves</li>
						<li>Infinite Jest</li>
						<li>The Brothers Karamazov</li>
						<li>No Exit</li>
						<li>Snow Crash</li>
						<li>Piranesi</li>
						<li>Catch-22</li>
						<li>The King in Yellow</li>
						<li>The Prophet</li>
						<li>Guards, Guards!</li>
						<li>Dune</li>
						<li>A Wizard of Earthsea</li>
						<li>Hamlet</li>
						<li>Exordia</li>
						<li>Annihilataion Trilogy (Annihilation, Authority, Acceptance)</li>
						<li>Dracula</li>
						<li>Carmilla</li>
						<li>Blindsight</li>
						<li>Echopraxia</li>
						<li>A Practical Guide to Evil</li>
						<li>The Gods are Bastards (up to book 16)</li>
						<li>Fight Club</li>
						<li>The Road</li>
						<li>The Stranger</li>
					</ul>
				</li>
				<li>Non-Fiction
					<ul>
						<li>The Art of War</li>
						<li>Learning To Do Nothing</li>
						<li>The Sixth Extinction</li>
						<li>Zen and the Art of Motorcycle Maintenance</li>
						<li>No Longer Human</li>
						<li>Play To Win</li>
						<li>The Eyes of the Skin</li>
						<li>Lost in the Cosmos</li>
						<li>How to Blow Up a Pipeline</li>
						<li>Breakdown of Will</li>
						<li>The Myth of Sisyphus</li>
						<li>Man's Search For Meaning</li>
					</ul>
				</li>
			</ul>
	</body>
</html>
