---
import Navigation from './Navigation.astro';
---
<header style="width: 100vw; background-color:powderblue;">
  <h1>Fellow of Infinite Leaves</h1>
  <nav>
    <Navigation />
  </nav>
</header>